
process {

    maxRetries = 2
    maxErrors = '-1'
    errorStrategy = 'terminate'


    // Process-specific parameters

    withName: 'setup_data_directory' {
        container = "quay.io/mkeays/hubmap-image-tools"
    }

    withName: 'create_yaml_config' {
        container = "quay.io/mkeays/hubmap-image-tools"
    }

    withName: 'run_cytokit_processor' {
        container = "eczech/cytokit:latest"
    }
}
