process {

    maxRetries = 2
    maxErrors = '-1'
    errorStrategy = 'terminate'


    // Process-specific parameters

    withName: 'setup_data_directory' {

        // Python3 on the HIVE cluster is 3.7.4
        container = "python:3.7.4"

    }

    withName: 'create_yaml_config' {

        // Python3 on the HIVE cluster is 3.7.4
        container = "python:3.7.4"

    }

    withName: 'run_cytokit_processor' {

        container = "eczech/cytokit:latest"
    }
}
