
singularity {

    enabled = true
    autoMounts = true
    runOptions = "--nv -B $CYTOKIT_DIR -B $CYTOKIT_DATADIR:/lab/data -B $HUBMAP_LZ"
    cacheDir = "$SINGULARITY_CACHEDIR"
    envWhitelist = "CYTOKIT_DIR, CYTOKIT_ENV, CYTOKIT_DATADIR, HUBMAP_IMAGE_TOOLS, HUBMAP_LZ, SINGULARITY_CACHEDIR"
}

process {

    maxRetries = 2
    maxErrors = '-1'
    errorStrategy = 'terminate'


    // Process-specific parameters

    withName: 'setup_data_directory' {

        // Python3 on the HIVE cluster is 3.7.4
        container = "quay.io/mkeays/hubmap-image-tools"

    }

    withName: 'create_yaml_config' {

        // Python3 on the HIVE cluster is 3.7.4
        container = "quay.io/mkeays/hubmap-image-tools"

    }

    withName: 'run_cytokit_processor' {
    
		// Not sure how much time would be needed but definitely longer than the
    	// default of one hour for some datasets.
    	clusterOptions = "--gres=gpu:k80:2 --mem=0 -t 4:00:00"

        container = "eczech/cytokit:latest"
    }
}
