
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$SINGULARITY_CACHEDIR"
    envWhitelist = "CYTOKIT_ENV, CYTOKIT_DATADIR, CYTOKIT_DIR, HUBMAP_IMAGE_TOOLS, HUBMAP_LZ, SINGULARITY_CACHEDIR"
}

process {
    executor = "slurm"
    maxForks = 1
    clusterOptions = "-p GPU --gres=gpu:k80:2 --mem=0 -t 4:00:00"
}


