
singularity {
    enabled = true
    autoMounts = true
    runOptions = "--nv $CYTOKIT_DATADIR:/lab/data -B $CYTOKIT_DIR -B $HUBMAP_LZ"
    cacheDir = "$SINGULARITY_CACHEDIR"
    envWhitelist = "CYTOKIT_ENV, CYTOKIT_DATADIR, CYTOKIT_DIR, HUBMAP_IMAGE_TOOLS, HUBMAP_LZ, SINGULARITY_CACHEDIR"
}

executor {
    name = "slurm"
    maxForks = 1
    // Not sure how much time would be needed but definitely longer than the
    // default of one hour for some datasets.
    clusterOptions = "-p GPU --gres=gpu:k80:2 --mem=0 -t 4:00:00"
}


