// Nextflow config for starfish pipelines.
// Copy this to the working directory and rename it to nextflow.config.

// Input filenames for DARTFISH pipeline.
// <nothing yet as we're using the starfish example data>

// Input filenames for seqFISH pipelines.
// <nothing yet as we're using the starfish example data>

// Output filename for DARTFISH pipeline. FIXME: eventually we won't need this
// as it will be derived from the input filename on the fly.
params.dartfishOutfile = "starfish_dartfish_results.txt"

// Output filename for seqFISH pipeline. FIXME: eventually we won't need this
// as it will be derived from the input filename on the fly.
params.seqfishOutfile = "starfish_seqfish_results.txt"

